<!-- when note using layouts -->
<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%- include('_header'); %>
        <h1>Codial /users/<%= title%></h1>
        <%- include('_footer'); %>
    </body>
</html> -->

<!-- when using layouts -->

<!-- adding css here to get different design for each layout  -->
<link rel="stylesheet" href="/css/profile.css">
<h1>Codial /users/<%= title%></h1>
<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>
<a href="/users/delete-session"><div> Sign Out </div></a>