<!-- when note using layouts -->
<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body> -->
        <!-- replace the hashtag with dash sign  -->
        <!-- <%# include('_header'); %> -->
        <!-- <h1>Codial /users/<%= title%></h1> -->
        <!-- <%# include('_footer'); %> -->
    <!-- </body>
</html> -->
<!-- when using layouts -->

<!-- adding css here to get different design for each layout  -->
<link rel="stylesheet" href="/css/profile.css">
<h1>Codial / users / <%= title%></h1>

<!-- if the user matches show the form-->
<% if(user.id == profile_user.id){ %>
    <form action="/users/update/<%= profile_user.id %>" method="post">
        <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %>" required>
        <input type="submit" value="Update">
    </form>
    <% }else{ %>
        <!-- else show only the profile info -->
        <p><%= profile_user.name %></p>
        <p><%= profile_user.email%></p>
<% } %>